.schedule a {
  /*color: #E12B00;*/
  border: none;
}

.schedule a:hover {
  /*color: #E12B00;*/
  text-decoration: none;
  border: none;
}

.schedule a:active {
  /*color: red;*/
  text-decoration: none;
  border: none;
}

.schedule a:visited {
  /*color: #B82300;*/
  text-decoration: none;
  border: none;
}

.tweets-feed {
  color: #ffffff;
  line-height: 25px;
  font-size: 20px;
  transition: opacity 0.2s linear;
  margin-bottom: 20px;
  height: 250px;
}

.tweets-feed a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: 700;
}

.tweets-feed a:hover {
  color: #ffffff;
}

.tweets-feed .dateTweeted {
  font-size: 15px;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.subscribe-1 .email-subscribe {
  margin-bottom: 50px !important;
}
.newsletter-name {
  padding-right: 0px;
}
.newsletter-name input {
  border-radius: 10px 0px 0px 10px;
}
.newsletter-email {
  padding-left: 5px;
  padding-right: 5px;
}
.newsletter-email input {
  border-radius: 0px;
}
.newsletter-submit {
  padding-left: 0px;
}
.newsletter-submit input {
  border-radius: 0px 10px 10px 0px;
}
.social-profiles a i {
  transition: all 0.5s;
}
.social-profiles a:hover i {
  color: grey;
}
.sticky-nav .menu li a:hover {
  border-color: #c3bfbf;
  border-bottom-width: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.sidebar-content .widget ul li a:hover {
  border-color: #c3bfbf;
  border-bottom-width: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.background-image {
  width: 300px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#dark-toggle {
  width: 5px;
  height: 5px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

#day {
  font-size: 10px;
}
